{% extends 'base.html.twig' %}

{% block title %}Accueil - EcoRide{% endblock %}

{% block body %}
  <div class="d-inline-flex m-0 p-3 w-100 bg-primary justify-content-center align-items-center text-center text-light">
    <img class="frenchFlag rounded text-center" src="{{ asset('images/French_Flag.jpg') }}" alt="Drapeau français">
    <h2>Covoiturez écologiquement avec la startup EcoRide</h2>
    <img class="frenchFlag rounded text-center" src="{{ asset('images/French_Flag.jpg') }}" alt="Drapeau français">
  </div>

  <div class="container p-3">
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="search-container">
          <!--<input type="submit" class="form-control search-input px-5" placeholder="Rechercher un trajet...">
          <i class="fas fa-search search-icon"></i>-->
            {{ form_errors(form) }}

                {{ form_start(form) }}
                <div class="container m-1">
                  <div class="row">
                    <div class="col">
                      {{ form_row(form.wantedEndingPlace, {
                          label: false
                      }) }}
                    </div>
                    <div class="col-1">
                      <button type="submit" class="btn btn-light text-primary w-75"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </div>
                {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>

  <div id="carouselHomeDesign" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselHomeDesign" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselHomeDesign" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselHomeDesign" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner h-100">
      <div class="carousel-item active h-100">
        <img src="{{ asset('images/Home_Car_1.jpg') }}" class="d-block w-100 opacity-50" alt="Covoiturage dans une voiture sur une route au soleil">
        <div class="carousel-caption d-none d-md-block">
          <h5>Rejoignez EcoRide</h5>
          <p>Pour des rencontres formidables et des moments de partages</p>
        </div>
      </div>
      <div class="carousel-item h-100">
        <img src="{{ asset('images/Home_Car_3.jpg') }}" class="d-block w-100 opacity-50" alt="Route au milieu de la forêt vue depuis le pare-brise d'une voiture">
        <div class="carousel-caption d-none d-md-block">
          <h5>Rejoignez EcoRide</h5>
          <p>Pour ceux qui veulent rouler au milieu des arbres</p>
        </div>
      </div>
      <div class="carousel-item h-100">
        <img src="{{ asset('images/Home_Car_4.jpg') }}" class="d-block w-100 opacity-50" alt="Forêt de sapin en montagne avec la brume qui se lève en contrebas">
        <div class="carousel-caption d-none d-md-block">
          <h5>Rejoignez EcoRide</h5>
          <p>Car ici nous préférons ce genre de paysage</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container p-3 my-5">
      <div class="row">
          <div class="col-4 col-lg text-center">
              <i class="icon bi bi-person-arms-up"></i>
              <p>Déjà 1,6 million d'utilisateurs en France</p>
          </div>
          <div class="col-4 col-lg text-center">
              <i class="icon bi bi-tree-fill"></i>
              <p>5 tonnes de CO² économisé chaque années</p>
          </div>
          <div class="col-4 col-lg text-center">
              <i class="icon bi bi-car-front-fill"></i>
              <p>Covoiturage uniquement</p>
          </div>
          <div class="col-4 col-lg text-center">
              <i class="icon bi bi-cash"></i>
              <p>Le moyen de transport le plus économique</p>
          </div>
          <div class="col-4 col-lg text-center">
              <i class="icon bi bi-signpost-split-fill"></i>
              <p>Créez votre propre chemin</p>
          </div>
          <div class="col-4 col-lg text-center">
              <i class="icon bi bi-lock-fill"></i>
              <p>La sécurité avant tout</p>
          </div>
      </div>
  </div>

  <div class="row p-0 m-0">
    <div class="col-12 col-md-5 p-3 d-flex align-items-center">
      <img class="w-100 rounded" src="{{ asset('images/Home_Inspiring.jpg') }}" alt="Homme de dos face à un lac">
    </div>
    <div class="col-12 col-md-7 d-flex text-center p-3 align-items-center">
      <blockquote class="blockquote">
        <p>"Il me semblait que le monde n'allait pas rond alors j'ai voulu trouver une solution durable, 
        j'ai imaginé ce concept de voyage en pleine nature. Avec l'augmentation du coût des transports en 
        commun, le covoiturage c'est l'avenir. C'est bien plus pratique, et on rencontre des gens formidables.
        Chez EcoRide nous assurons la sécurité de nos utilisateurs à l'aide d'un système de vérification 
        de l'identité. Vous pourrez sauver la planète en voyageant en toute sécurité et à moindre coût."</p>
        <footer class="blockquote-footer">Etienne Rout</footer>
      </blockquote>
    </div>
  </div>
{% endblock %}