{% extends 'base.html.twig' %}

{% block title %}Liste des trajets - EcoRide{% endblock %}

{% block body %}
    <div class="container">
        <div class="d-inline-flex m-0 p-3 justify-content-center text-align-center">
            <h2 class="mx-5 my-auto text-primary fw-bold">Liste des trajets</h2>
        </div>

        {{ form_errors(filterForm) }}

        {{ form_start(filterForm) }}
            <div class="row">
                <div class="col">
                    {{ form_row(filterForm.startingPlace, {
                        label: 'Lieu de départ',
                    }) }}
                </div>
                <div class="col">
                    {{ form_row(filterForm.endingPlace, {
                        label: 'Lieu d\'arrivée',
                    }) }}
                </div>
                <div class="col">
                    {{ form_row(filterForm.endingDate, {
                        label: 'Jour d\'arrivée',
                    }) }}
                </div>
            </div>
            {{ form_row(filterForm.ecoFilter, {
                label: 'Voyage écologique uniquement',
            }) }}
            <div class="row">
                <div class="col">
                    {{ form_row(filterForm.maxPriceFilter, {
                        label: 'Prix maximum du voyage',
                    }) }}
                </div>
                <div class="col">
                    {{ form_row(filterForm.timeFilter, {
                        label: 'Durée maximum du voyage (en heure)',
                    }) }}
                </div>
                <div class="col">
                    {{ form_row(filterForm.markFilter, {
                        label: 'Note minimale du chauffeur',
                    }) }}
                </div>
            </div>
            
            <div class="text-center">
                <button type="submit" class="btn btn-success text-light my-5">Rechercher</button>
            </div>
        {{ form_end(filterForm) }}

        <div class="table-responsive">
        <table class="table">
            <tbody>
                {% for travel in travelList %}
                    {% if travel.availableSeats != 0 %}
                        <tr class="text-center align-middle">
                            <td>
                            {{ travel.driver.username }}
                            <br><img class="rounded end-0 mx-5" {% if travel.driver.picture is empty %}src="{{ asset('images/USER_PIC.jpg') }}"{% else %}src="uploads/"{{ travel.driver.picture }}{% endif %} alt="Profil" height="50" width="50">
                            <br><div class="d-inline-flex">
                                    <img src="{{ asset('images/Star_TR.png') }}" alt="Etoile jaune" height="20" width="20">
                                    <h5 class="text-warning fw-bold">{{ travel.driver.mark }}</h5>
                                </div>
                            </td>
                            <td>{{ travel.availableSeats }} places</td>
                            <td>{{ travel.price }} crédits</td>
                            <td>Départ de {{ travel.startingPlace }}<br>Le {{ travel.startingDate|date("d/m/Y", "Europe/Paris") }}<br>À {{ travel.startingHour|date("H:i", "Europe/Paris") }}</td>
                            <td>Arrivée à {{ travel.endingPlace }} <br>Le {{ travel.endingDate|date("d/m/Y", "Europe/Paris") }}<br>À {{ travel.endingHour|date("H:i", "Europe/Paris") }}</td>
                            {% if travel.car.electrical == 1 %}<td>Voyage<br>écologique</td>{% else %}<td></td>{% endif %}
                            <td><a class="btn btn-warning text-white" href="{{ path('TravelDetail', {'travelID':travel.id}  )  }}">Détails</a></td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
{% endblock %}
